@import url(bootstrap.css);


body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #ff007f;
  background-color: #005fbf;
}

a {
  color: #ff007f;
} 

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff007f;
}

.page-header {
  border-bottom: 1pxpx solid #D91300;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #516A50;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #546860;
  border: 1px solid #ccc;
}

.well {
  background-color: #00007f;
}

.btn {
  color: #70C250;
  background-image: -moz-linear-gradient(top, #E2CA20, #AA8490);
  background-image: -ms-linear-gradient(top, #E2CA20, #AA8490);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E2CA20), to(#AA8490));
  background-image: -webkit-linear-gradient(top, #E2CA20, #AA8490);
  background-image: -o-linear-gradient(top, #E2CA20, #AA8490);
  background-image: linear-gradient(top, #E2CA20, #AA8490);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'E2CA20, endColorstr='#'AA8490, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #70C250;
  background-color: #AA8490;
}

.btn-primary {
  background-color: #006dcc;
  color: #00ffff;
  background-image: -moz-linear-gradient(top, #ff007f, #0000bf);
  background-image: -ms-linear-gradient(top, #ff007f, #0000bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff007f), to(#0000bf));
  background-image: -webkit-linear-gradient(top, #ff007f, #0000bf);
  background-image: -o-linear-gradient(top, #ff007f, #0000bf);
  background-image: linear-gradient(top, #ff007f, #0000bf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ff007f, endColorstr='#'0000bf, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0000bf;
}

.btn-warning {
  color: #766350;
  background-image: -moz-linear-gradient(top, #CF4300, #8DE950);
  background-image: -ms-linear-gradient(top, #CF4300, #8DE950);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CF4300), to(#8DE950));
  background-image: -webkit-linear-gradient(top, #CF4300, #8DE950);
  background-image: -o-linear-gradient(top, #CF4300, #8DE950);
  background-image: linear-gradient(top, #CF4300, #8DE950);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'CF4300, endColorstr='#'8DE950, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #8DE950;
}

.btn-danger {
  color: #6678F0;
  background-image: -moz-linear-gradient(top, #1C6E70, #F84450);
  background-image: -ms-linear-gradient(top, #1C6E70, #F84450);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1C6E70), to(#F84450));
  background-image: -webkit-linear-gradient(top, #1C6E70, #F84450);
  background-image: -o-linear-gradient(top, #1C6E70, #F84450);
  background-image: linear-gradient(top, #1C6E70, #F84450);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'1C6E70, endColorstr='#'F84450, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #F84450}

.btn-success {
  color: #A394C0;
  background-image: -moz-linear-gradient(top, #FB6D90, #0C1E10);
  background-image: -ms-linear-gradient(top, #FB6D90, #0C1E10);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FB6D90), to(#0C1E10));
  background-image: -webkit-linear-gradient(top, #FB6D90, #0C1E10);
  background-image: -o-linear-gradient(top, #FB6D90, #0C1E10);
  background-image: linear-gradient(top, #FB6D90, #0C1E10);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'FB6D90, endColorstr='#'0C1E10, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #0C1E10;
}

.btn-info {
  color: #C104D0;
  background-image: -moz-linear-gradient(top, #576930, #747B90);
  background-image: -ms-linear-gradient(top, #576930, #747B90);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#576930), to(#747B90));
  background-image: -webkit-linear-gradient(top, #576930, #747B90);
  background-image: -o-linear-gradient(top, #576930, #747B90);
  background-image: linear-gradient(top, #576930, #747B90);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'576930, endColorstr='#'747B90, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #747B90;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #B66800;
  border-color: #B04CD0;
}
.alert-success, .alert-success .alert-heading {
  color: #0452B0;
}
.alert-danger, .alert-error {
  background-color: #698770;
  border-color: #790BD0;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #5F7E70;
}
.alert-info {
  background-color: #A51DF0;
  border-color: #F0E030;
}
.alert-info, .alert-info .alert-heading {
  color: #1DF0C0;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #5656ff, #ff007f);
  background-image: -ms-linear-gradient(top, #5656ff, #ff007f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5656ff), to(#ff007f));
  background-image: -webkit-linear-gradient(top, #5656ff, #ff007f);
  background-image: -o-linear-gradient(top, #5656ff, #ff007f);
  background-image: linear-gradient(top, #5656ff, #ff007f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5656ff, endColorstr='#'ff007f, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #DE8DC0;
}

.navbar .divider-vertical {
  height: 0px;
  background-color: #841A40;
  border-right: 1px solid #ffaad4;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #F19850;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #1A52E0;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #B986E0;
  background-color: #C6C5C0;
}

.label-important,
.badge-important {
  background-color: #97FE70;
}

.label-warning,
.badge-warning {
  background-color: #829DF0;
}

.label-success,
.badge-success {
  background-color: #89F060;
}

.label-info,
.badge-info {
   background-color: #7E0000;
}
